html { 
  background: url(../images/backgrounds/landscape5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0;
	padding: 0;
}

.weather-info-wrapper {
	background: rgba(0,0,0,.8);
	color: #fff;
	height: 20vh;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.weather-img-wrapper img {
	float: left;
	width: 20%;
}