html {
  background-color: #303843;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

.main-weather-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.main-weather-wrapper .weather-img-wrapper {
  -webkit-flex: 1;
}
.main-weather-wrapper .weather-img-wrapper img {
  width: 100%;
}
.main-weather-wrapper .weather-temperature-wrapper {
  -webkit-flex: 1;
  font-size: 120px;
  text-align: center;
  margin-top: 10%;
}
